.navbar {
    background: rgb(222, 222, 222) !important;
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.7em;
    color: #000;
}

.navbar-brand:hover {
    color: #836344;
}

.nav-item a{
    color: #000;
    font-size: 1.2em;
}

.nav-item:hover a {
    background: #fff;
    border-radius: 0.3em;
}