.navbar {
    background: rgb(222, 222, 222) !important;
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.7em;
    color: #000;
}

.navbar-brand:hover {
    color: #836344;
}

.nav-item a{
    color: #000;
    font-size: 1.2em;
}

.nav-item:hover a {
    /* background: #fff;
    border-radius: 0.3em; */
    background: rgb(222, 222, 222);
    border-radius: 0.3em;
    box-shadow: inset 6px 6px 6px #c2c2c2, inset -6px -6px 6px rgba(124, 121, 121, 0.2);
}