.quote-container {
    padding-top: 7em;
}

.welcome {
    background-color: rgb(235, 232, 232);
    padding: 3em;
    text-align: center;
    border-radius: 1em;
    margin-bottom: 3em;
}

.generator {
    text-align: center;
}

button:hover {
    color: black;
    background: white;
}