<div class="quote-container">
  <div class="container">
    <div class="row">
      <div class="welcome col-lg-12">
          <!-- <h4>Your random quotes will be displayed here</h4> -->
          <button (click)="showQuote()" type="button" class="btn btn-dark mb-4">Open</button>
          <!-- <ng-progress></ng-progress> -->
          <blockquote class="blockquote text-center">
            <p class="mb-3">{{quote.quote}}</p>
            <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
          </blockquote>
      </div>
    </div>
  </div>
</div>
